			<div class="temperatur">
				<h5>Et harum quidem</h5>
				<span class="w-line"> </span>
				<span class="cloud"> </span>
				<h2>14<sup class="degree">°</sup></h2>
				<h6>Water 20<sup class="degree">°</sup></h6>
			</div>
			<div class="teddy-bear">
				<div class="teddy-text">
					<h4>Nam libero voluptatem</h4>
					<span class="w-line"> </span>
					<img src="../../images/b1.jpg" alt=""  class="img-responsive">
			    </div>
			    <div class="teddy-follow">
			    	<ul>
			    		<li class="folw-h"><h3>2850</h3>
			    			<p>Followers</p>
			    		</li>
			    		<li><h3>675</h3>
			    			<p>Following</p>
			    		</li>
			    	</ul>
			    </div>
			</div>
